@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
}

:root {
  --color-primary: #2f67ec;
}

body {
  background-color: #1D1A39;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}

.navbar {
  background-color: #451952;
}

.footer {
  
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999; /* Adjust z-index as needed */
}

a {
  color: #F39F5A;
}

button {
  background-color: #AE445A;
  color: #E8BCB9;
}

input::placeholder {
  color: #F39F5A;
}

nav {
  position: relative;
  background: #1f2635;
  font-weight: 400;
  font-size: 0;
  display: flex;
  padding: 0;
  width: 80%;
}

nav .item {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 0 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 25%;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.dropdown {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 62px;
}
.dropdown > div {
  transform: translate(0, -100%);
  transition: all 0.5s 0.1s;
  position: relative;
}

.dropdown a {
  display: block;
  padding: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: var(--color-primary);
}

.dropdown a:hover {
  background: #254fb5;
}

.underline {
  height: 6px;
  background: var(--color-primary);
  position: absolute;
  bottom: 0;
  width: 25%;
  z-index: 2;
  pointer-events: none;
  transition: 0.35s;
}

nav .item:hover > .dropdown > div {
  transform: translate(0);
}

nav .item:nth-child(1):hover ~ .underline {
  transform: translate(0, 0);
}

nav .item:nth-child(2):hover ~ .underline {
  transform: translate(100%, 0);
}

nav .item:nth-child(3):hover ~ .underline {
  transform: translate(200%, 0);
}

nav .item:nth-child(4):hover ~ .underline {
  transform: translate(300%, 0);
}

/* SVG styles */
.background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  box-sizing: border-box;
  display: block;
  pointer-events: none;
}

/* Additional styles for the footer */
.footer {
  position: relative;
}

.background {
  position: absolute;
  inset: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.background {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.links {
  display: flex;
  justify-content: center;
  padding: 0;
}

.links li {
  list-style-type: none;
  margin-right: 20px; /* Adjust spacing between links */
}

.links a {
  color: white;
  text-decoration: none;
}

.legal {
  text-align: center;
  color: white;
}